// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the common.variables.styl file
@import 'common.variables'

// Material only Quasar variables overwrites
// -----------------------------------------
$toolbar-title-font-size = 28px
$toolbar-padding    = 0
$body-background  = none